export(
  mat,  # main function
  bmat,  # main function
  dmat,  # main function
  as.mat,
  argmax,
  argmin,
  eye,
  hcat,
  falses,
  fill,
  flatten,
  inv,
  linspace,
  logspace,
  ones,
  rand,
  randi,
  randn,
  resize,
  size,
  trues,
  vcat,
  zeros
)    

## Methods
S3method(mat, default)    
S3method(mat, character)
S3method(mat, list)  
S3method(print, mat)
S3method(as.mat, default)
S3method(as.mat, data.frame)
S3method(as.mat, matrix)
