export(
  mat,
  bmat,
  dmat,
  resize,
  ones,
  zeros,
  flatten,
  linspace, 
  logspace,
  hcat,
  vcat
)    

## Methods
S3method(mat, default)    
S3method(mat, character)
S3method(mat, list)  
